################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/AssemblerSimulatorGUI/bin/Debug/net8.0-windows
/AssemblerSimulatorGUI/obj/Debug/net8.0-windows
/AssemblerSimulatorGUI/obj
/AssemblerSimulator/bin/Debug/net8.0
/AssemblerSimulator/obj
/.vs
/AssemblerSimulator/bin/Debug/net6.0
